@charset "UTF-8";
/* CSS Document */
*{margin:0; padding:0;}
ul li{ list-style:none;}
a{ text-decoration:none; color:#000;}
.z{ float:left;}
.y{ float:right;}
body{}

.header {width: 100%; height: 30px; background-color: #2b6fb6; display: block;}
.title {width: 100%; height: 27px; font-size: 20px; background: url(./titlebg.jpg) no-repeat; color: white; display: block; float:left; text-align: center; padding-top: 3px;}
.language { font-size: 15px; float: right; color: white; margin-right: 30px;}

.topnav { height:45px; background-color: black;}
.menu {padding-left:10px;}
.menu  li{ float:left; font-size: 16px;  font-family:verdana, Helvetica, sans-serif;}
.menu li a{ display:block; width:80px; height: 45px; padding: 0 5px; line-height:30px; text-align:center; color: white;}
.menu_item { color: white;}
li.current_item {background:url(menu_current.png) no-repeat 0 0;}
.current_item a{ color:#fff; }

.mainblock {width: 100%; display: block;}
.tdleft {width: 10px; background: url(leftbar.png) repeat-y 0 0;}
.tdright {width: 10px; background: url(rightbar.png) repeat-y 0 0;}
.content {font-size: 14px;}
.content td {padding-top: 10px;}
.heavybutton {background: url(heavybutton.png) no-repeat 0 0; width: 84px; height: 33px; display: block; border: 0px; color: white; font-size: 16px; text-align:center; line-height:32px;}
.heavybutton_click {background: url(heavybutton.png) no-repeat 0 0; width: 84px; height: 33px; display: block; border: 0px; color: gray; font-size: 14px;}
.lightbutton {background: url(lightbutton.png) no-repeat 0 0; width: 87px; height: 31px; display: block; border: 0px; color: black; font-size: 14px; text-align:center;line-height:30px;}
.lightbutton_click {background: url(lightbutton.png) no-repeat 0 0; width: 87px; height: 31px; display: block; border: 0px; color: gray; font-size: 12px;}


.foot {width: 100%; height: 60px; background: url(footborder.png) repeat-x 0 100%; display: block;}
.footleft {width: 60px; height: 60px; background: url(footleft.jpg) no-repeat 0 0; float: left;}
.footright {width: 60px; height: 60px; background: url(footright.jpg) no-repeat 0 0; float: right;}

.l {float: left;}
.inputfile {height: 20px; width: 100px; font-size: 14px; margin-top: 5px;}

.content td input {height: 20px;}
.radiolabel {top: -3px; position: relative;}
.up5px  {top: -5px; position: relative;}
.showscan {display: block}
.hidescan {display: none}

.buttons {padding-left:10px;}
.buttons  li{ float:left; padding-left: 20px; padding-right: 20px; font-family:verdana, Helvetica, sans-serif;}
